.content
	.table-header-container
	.table-container
		table
			thead
				tr
					th.name
						.th-inner
							| leader
							i.icon-question-sign
					th.friendliness
						.th-inner 
							| Friendliness 
							i.icon-question-sign
					th.score
						.th-inner
							| APPM 
							i.icon-question-sign
			tbody
				each player, i in players
					tr
						td.name #{player.name} (#{player.score} / #{player.friendCount} / #{player.numVotes})
						td.friendliness #{Math.round((player.friendCount / player.numVotes)*10000)/100}%
						td.score #{Math.round(player.pointsPerVote*100)/100}
