extends ../../layout

block body
	#container-inner
		h1 Profile Questions
		- if(questions && questions.length > 0)
		table.table.tablesorter
			thead
				tr
					th Text
					th Type
					th Choices
					th Actions
			tbody
				- each question, i in questions
					tr
						td #{question.text}
						td #{question.type}
						td #{question.choices_string}
						td 
							- if(question.published)
								a.btn.disabled(data-bootbox-alert="<p>You may not edit this question as it has already been published.</p>") Edit
							- else
								a.btn(href="/profile/questions/edit/#{question._id}") Edit
							| 
							- if(question.published)
								a.btn.btn-success.disabled(data-bootbox-alert="<p>You may not publish this question as it has already been published.</p>") Published
							- else
								a.btn.btn-success(href="/profile/questions/publish/#{question._id}", data-bootbox-confirm="<p>Are you sure you want to publish this question?</p><p>Publishing a question sets this question up as a new question for all users to fill in, with a notification sent to existing users that a new question has been published.</p><p>Note that, once published, this question may not be edited or deleted.</p>") Publish
							| 
							- if(question.published)
								a.btn.btn-danger.disabled(data-bootbox-alert="<p>You may not delete this question as it has already been published.</p>") Delete
							- else
								a.btn.btn-danger(href="/profile/questions/delete/#{question._id}", data-bootbox-confirm="<p>Are you sure you want to <em>permanently</em> delete this question?</p>") Delete
