heading = me.getProfileHeading(game.startTime);
slug = me.getProfileSlug(game.startTime);

//- if(game.startTime.getDay() == 4)
//	#chat.pane
//		.inner
//			p 
//				| If you're having trouble chatting, try in a different browser like 
//				a(href="http://www.mozilla.org/en-US/firefox/new/") Firefox
//				|  or 
//				a(href="https://www.google.com/intl/en/chrome/browser/") Chrome
//				| .
//			.content
//				#tlkio(data-channel=game._id.toString(), style="width:700px;height:500px;")
//				script(src="http://tlk.io/embed.js", type="text/javascript")
//		.handle
//			a Chat

ul.actions
	if game.condition || game.mode == 'reputation-display'
		li
			a.btn.opponent(href="#opponent", role="button", data-toggle="modal")
				div.img
					img(src="/img/icon_opponent.png")
				//span.fa.fa-users
				span.text.fa-text Other Player
	if locals.currentRound && game.mode == 'walkaway'
		li
			a.btn.walkaway(href="#walkaway", data-toggle="modal")
				div.img
					img(src="/img/icon_leave.png")
				//span.glyphicon.glyphicon-log-out
				span.text Leave
	li
		a.btn.help(href="#faq", role="button", data-toggle="modal")
			div.img
				img(src="/img/icon_help.png")
			//span.fa.fa-question-circle
			span.text.fa-text Help
	li
		a.btn.settings(href=authServer()+"/profile")
			div.img
				img(src="/img/icon_settings.png")
			//span.fa.fa-cogs
			span.text.fa-text Settings
	li
		a.btn.confess(href=authServer()+"/confess")
			div.img
				img(src="/img/icon_confess.png")
			//span.glyphicon.glyphicon-question-sign
			span.text Confess


if game.condition || game.mode == 'reputation-display'
	#opponent.fade.modal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal") x
					h3 The Other Player:
					if game.mode == 'reputation-display'
						reputation = null
						today = new Date()
						- for(var i=0; i<opponent.reputations.length; i++)
							- if(opponent.reputations[i].date.getYear() == today.getYear() && opponent.reputations[i].date.getMonth() == today.getMonth() && opponent.reputations[i].date.getDate() == today.getDate())
								- reputation = opponent.reputations[i]
						h4 Reputation: #{reputation ? reputation.value : 'Unknown'}
				.modal-body
					// walkaway condition
					if game.mode == 'walkaway'
						p Today you have the ability to walkaway from the other player if you want to leave the game early. Just tap on the "leave" option.
					else if game.condition
						h4 #{game.condition.text}
						h5 Other Player: #{their_condition == null || !their_condition.value ? "N/A" : their_condition.value}
						p (You answered: #{my_condition == null || !my_condition.value ? "N/A" : my_condition.value})

if locals.currentRound && game.mode == 'walkaway'
	#walkaway.fade.modal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal") x
					h3 End Today's Game?
				.modal-body
					.row
						.col-xs-6.text-center
							//span.glyphicon.glyphicon-log-out
							img(src="/img/icon_leave_big.png")
						.col-xs-6
							h3.blue
								a(href="/game/"+game._id+"/leave") -> Yes
							h3
								a(href="#", data-dismiss="modal") -> No
						.col-xs-12
							p Selecting yes will end today’s game immediately and the other player will be notified of your decision.
							p Tomorrow begins a new game.

#scoring.fade.modal
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal") x
				h3 Scoring Reminder:
			.modal-body
				table
					tbody
						tr
							th.empty
							th
								span.friend
							th
								span.enemy
						tr
							th
								span.friend
							td
								span.points 15
								span.comma ,
								span.points 15
							td
								span.points -5
								span.comma ,
								span.points 25
						tr
							th
								span.enemy
							td
								span.points 25
								span.comma ,
								span.points 5
							td
								span.points 5
								span.comma ,
								span.points 5
					
#faq.fade.modal
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal") x
				h3 FAQ
			.modal-body
				include faq

if round.number == 1 && !my_vote
	#mood-request.fade.modal(data-backdrop="static", data-keyboard="false")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal") SKIP
					h3 What's your mood?
				.modal-body
					form(action="/game/"+game._id+"/mood")
						.row
							.not.col-xs-5.col-xs-offset-3.col-med-2.col-med-offset-3 Not At All
							.very.col-xs-3.col-xs-offset-1.col-med-2.col-med-offset-5.text-right Very
						.row
							.col-xs-4.col-sm-3 Stressed
							.col-xs-8.col-sm-9
								input#stressed-slider(type="text", value="5", data-slider-min="0", data-slider-max="10", data-slider-step="1", data-slider-value="5", data-slider-orientation="horizontal", data-slider-selection="after", data-slider-tooltip="hide", name="stressed")
								- for(var i=0; i<10; i++)
									span.slider-tick-mark(class=(i == 9 ? 'last' : ''))
						.row
							.col-xs-4.col-sm-3 Happy
							.col-xs-8.col-sm-9
								input#happy-slider(type="text", value="5", data-slider-min="0", data-slider-max="10", data-slider-step="1", data-slider-value="5", data-slider-orientation="horizontal", data-slider-selection="after", data-slider-tooltip="hide", name="happy")
								- for(var i=0; i<10; i++)
									span.slider-tick-mark(class=(i == 9 ? 'last' : ''))
						.row
							.col-xs-4.col-sm-3 Tired
							.col-xs-8.col-sm-9
								input#tired-slider(type="text", value="5", data-slider-min="0", data-slider-max="10", data-slider-step="1", data-slider-value="5", data-slider-orientation="horizontal", data-slider-selection="after", data-slider-tooltip="hide", name="tired")
								- for(var i=0; i<10; i++)
									span.slider-tick-mark(class=(i == 9 ? 'last' : ''))
								
						.row
							.col-xs-12.col-sm-6.col-sm-offset-3
								input.btn.btn-blue.btn-block(type="submit") Submit
								p.gray (Please answer before playing the game.)


if (game.mode == 'reputation-request' || game.mode == 'reputation-request-plus-scoreboard') && round.number == game.numRounds
	#reputation-request.fade.modal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal") x
					h3 Assign reputation for the other player:
				.modal-body
					a.btn.btn-blue(href="/reputation/"+opponent._id+"/good") Good
					a.btn.btn-blue(href="/reputation/"+opponent._id+"/bad") Bad
					p.gray This will be showed on their profile all day tomorrow as they play Frenemy.
					
if locals.currentRound && game.mode == 'cooperation-display'
	#cooperation-display.fade.modal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button", data-dismiss="modal") x
					h3 Everyone's Friendliness Over Time:
				#cooperation-display-container.modal-body(data-cooperation-src=process.env.BASEURL+'/players/cooperation/'+game.experimonth)
					h4 Cooperation Graph is Loading
