#container-inner
	#header
		h2.lets Let's play
		h1
			a FRENEMY
		h2.prompt.you
			| END OF GAME
	
	- if(game.opponents[0]._id.toString() == me._id)
		mePlayer = game.opponents[0];
		themPlayer = game.opponents[1];
	- else
		mePlayer = game.opponents[1];
		themPlayer = game.opponents[0];
	
	mePoints = 0;
	themPoints = 0;
	
	table#results
		thead
			tr
				th
				th.moves(colspan="2") MOVES
				th.points(colspan="2") POINTS
			tr
				th.round Move #
				th.you YOU
				th.them THEM
				th.you YOU
				th.them THEM
		tbody
			each round, i in game.rounds
				mePointsThisRound = round.getPointsForPlayer(mePlayer._id)
				- mePoints += mePointsThisRound
				themPointsThisRound = round.getPointsForPlayer(themPlayer._id)
				- themPoints += themPointsThisRound
				tr
					td.round #{round.number}
					td
						span(class=round.getVoteForPlayer(mePlayer._id).value) #{round.getVoteForPlayer(mePlayer._id).value}
						// a(href="/games/#{game._id}/#{round._id}/#{mePlayer._id}") #{round.getVoteForPlayer(mePlayer._id).value}
					td 
						span(class=round.getVoteForPlayer(themPlayer._id).value) #{round.getVoteForPlayer(themPlayer._id).value}
						//a(href="/games/#{game._id}/#{round._id}/#{themPlayer._id}") #{round.getVoteForPlayer(themPlayer._id).value}
					td.you #{round.getStringPointsForPlayer(mePlayer._id, mePointsThisRound)}
					td.them #{round.getStringPointsForPlayer(themPlayer._id, themPointsThisRound)}
			tr.total
				td
				td
				td
				td(class='you '+(themPoints == mePoints ? 'tie' : (themPoints > mePoints ? 'loser' : 'winner')))
					span.value #{mePoints}
					- if(themPoints == mePoints)
						span.result TIE
					- else if(mePoints > themPoints)
						span.result WINNER
				td(class='them '+(themPoints == mePoints ? 'tie' : (themPoints < mePoints ? 'loser' : 'winner')))
					span.value #{themPoints}
					- if(themPoints == mePoints)
						span.result TIE
					- else if(mePoints < themPoints)
						span.result WINNER

include ../panes