h1 #{title}

firstOpponent = 0;
secondOpponent = 0;

table.table.table-striped
	thead
		tr
			th Round #
			th #{game.opponents[0].name} Value
			th #{game.opponents[1].name} Value
			th #{game.opponents[0].name} Points
			th #{game.opponents[1].name} Points
	tbody
		each round, i in game.rounds
			firstOpponentPoints = round.getPointsForPlayer(game.opponents[0]._id)
			- firstOpponent += firstOpponentPoints
			secondOpponentPoints = round.getPointsForPlayer(game.opponents[1]._id)
			- secondOpponent += secondOpponentPoints
			tr
				td #{round.number}
				td 
					a(href="/games/#{game._id}/#{round._id}/#{game.opponents[0]._id}") #{round.getVoteForPlayer(game.opponents[0]._id).value}
				td 
					a(href="/games/#{game._id}/#{round._id}/#{game.opponents[1]._id}") #{round.getVoteForPlayer(game.opponents[1]._id).value}
				td #{round.getStringPointsForPlayer(game.opponents[0]._id, firstOpponentPoints)}
				td #{round.getStringPointsForPlayer(game.opponents[1]._id, secondOpponentPoints)}
		tr
			td TOTAL:
			td
			td
			td #{firstOpponent}
			td #{secondOpponent}

pre !{util.inspect(game)}
pre !{util.inspect(game.rounds)}

include ../panes