#container-inner
	#header
		h2.lets Let's play
		h1
			a.next-round(title="Click here to get to the current round of this game!", href="/games/#{game._id}/#{game.currentRound}/#{me._id}") FRENEMY
		h2.prompt
			| ROUND ##{round.number}
			br
			| RESULTS:
	
	
	#vote.cf
		- if(round.completed)
			// Gotta populate my vote and their vote
			a(class=my_vote.value+' vote chosen disabled')
				.avatar 
					.inner 
				h3 #{my_vote && my_vote.value == 'friend' ? 'you chose friend' : 'you chose enemy'}
			a(class=their_vote.value+' vote chosen disabled')
				.avatar 
					.inner 
				h3 #{their_vote && their_vote.value == 'friend' ? 'they chose friend' : 'they chose enemy'}
		- else	
			a(href="/games/#{game._id}/#{round._id}/#{me._id}/friend", class='vote friend '+(my_vote ? (my_vote.value == 'friend' ? 'chosen disabled' : 'disabled') : 'active'))
				.avatar 
					.inner 
				h3 #{my_vote && my_vote.value == 'friend' ? 'you chose friend' : 'friend'}
			a(href="/games/#{game._id}/#{round._id}/#{me._id}/enemy", class='vote enemy '+(my_vote ? (my_vote.value == 'enemy' ? 'chosen disabled' : 'strikethrough disabled') : 'active')) 
				.avatar 
					.inner
				h3 #{my_vote && my_vote.value == 'enemy' ? 'you chose enemy' : 'enemy'}
	
		if !game.currentRound
			a.next-round(href="/games/#{game._id}/#{me._id}") click to see the results!
		else if game.currentRound.toString() != round._id.toString()
			a.next-round(href="/games/#{game._id}/#{game.currentRound}/#{me._id}") click to play the current round!
	
	
	#scoring.cf
		h4 Scoring Reminder
		ul
			li#friend-friend(class=(my_vote && my_vote.value == 'friend' && their_vote && their_vote.value == 'friend' ? 'active' : null))
				.visuals
					span.friend
					span.friend
				.text
					span.points 15
					span.comma ,
					span.points 15
			li#friend-enemy(class=(my_vote && my_vote.value == 'friend' && their_vote && their_vote.value == 'enemy' ? 'active' : null))
				.visuals
					span.friend
					span.enemy
				.text
					span.points -5
					span.comma ,
					span.points 25
			li#enemy-friend(class=(my_vote && my_vote.value == 'enemy' && their_vote && their_vote.value == 'friend' ? 'active' : null))
				.visuals
					span.enemy
					span.friend
				.text
					span.points 25
					span.comma ,
					span.points -5
			li#enemy-enemy(class=(my_vote && my_vote.value == 'enemy' && their_vote && their_vote.value == 'enemy' ? 'active' : null))
				.visuals
					span.enemy
					span.enemy
				.text
					span.points 5
					span.comma ,
					span.points 5

include ../panes