extends ../layout

include ../games/mixins

block body
	#container-inner
		h1 #{title}
		mixin do_games(games)

		- if(pages > 1)
			ul.pagination
				- if(page > 0)
					li
						a(href=baseurl+'/'+(page-1)) Prev
				- for(var i=0; i<pages; i++)
					li(class=(i == page ? 'active' : null))
						a(href=baseurl+'/'+i) #{i+1}
				- if(page < pages-1)
					li
						a(href=baseurl+'/'+(page+1)) Next