mixin do_games(games, filter, completed)
	table.table.tablesorter
		thead
			tr
				th Started
				th Completed?
				th Players
				th Completed Moves
				th Actions
		tbody
			- console.log(games);
			each game, i in games
				if(!filter || game.completed == completed)
					tr
						td #{moment(game.startTime).format('YYYY-MM-DD hh:mm A')}
						td #{game.completed ? 'yes' : 'no'}
						td
							ul
								each opponent in game.opponents
									li
										- if(opponent.name)
											| #{opponent.name}
										- else if(opponent.email)
											| #{opponent.email}
										- else
											| #{opponent}
						td #{game.rounds.length} / #{game.numRounds}
						td
							a.btn(href="/game/#{game._id}") View
							u = user()
							- if(u.role >= 10)
								|  
								a.btn(href="/games/edit/#{game._id}") Edit
								| 
								a.btn.btn-danger(href="/games/delete/#{game._id}") Delete
							- if(game.startTime.getDay() == 4)
								| 
								a.btn.btn-info(href="http://tlk.io/#{game._id}") View Chat