extends ../layout

block body
	#container-inner
		form(method="POST")#playerForm.form-horizontal
			fieldset
				legend #{title}
						
				.control-group
					label.control-label(for="email") Email Address:
					.controls
						input#email.span5(type="text", placeholder="", name="email", value=player.email)
						p.help-block Your email address.
		
				.control-group
					label.control-label(for="name") Name:
					.controls
						input#name.span5(type="text", placeholder="", name="name", value=player.name)
						p.help-block The name of the player.
		
				.control-group
					label.control-label(for="twitter") Twitter (url):
					.controls
						input#twitter.span5(type="text", placeholder="", name="twitter", value=player.twitter)
		
				.control-group
					label.control-label(for="facebook") Facebook (url):
					.controls
						input#facebook.span5(type="text", placeholder="", name="facebook", value=player.facebook)
		
				.control-group
					label.control-label(for="flickr") Flickr (url):
					.controls
						input#flickr.span5(type="text", placeholder="", name="flickr", value=player.flickr)
		
				.control-group
					label.control-label(for="tubmlr") Tumblr (url):
					.controls
						input#tubmlr.span5(type="text", placeholder="", name="tubmlr", value=player.tubmlr)
		
				.control-group
					label.control-label(for="youtube") YouTube (url):
					.controls
						input#youtube.span5(type="text", placeholder="", name="youtube", value=player.youtube)
		
				.control-group
					label.control-label(for="score") Score:
					.controls
						input#score.span5(type="text", placeholder="", name="score", value=player.score, disabled="disabled")
						p.help-block Your Score.
			
		
			.form-actions
				button.btn.btn-primary(type="submit") Submit
				|  
				a.btn(href="/players") Cancel