h1 #{title}

table.table.table-striped
	thead
		tr
			th Name
			th Defending?
			th Score
			th Last Played
			th Actions
	tbody
		each player, i in players
			tr
				td #{player.name}
				td 
					input(type="checkbox",disabled="disabled",checked=player.defending)
				td #{player.score}
				td #{player.lastPlayed}
				td
					a.btn(href="/players/edit/#{player._id}") Edit
					| 
					a.btn.btn-danger(href="/players/delete/#{player._id}") Delete
					| 
					- if(player.isAdmin)
						a.btn.btn-success(href="/players/demote/#{player._id}") Demote
					- else
						a.btn.btn-warning(href="/players/promote/#{player._id}") Promote