.content
	.ul-container.cf
		ul
			each player, i in players
				li
					.name Name: #{player.name}
					.score Score: #{player.score}
					.number Num Votes: #{player.voteCount}
					.pointsPerVote Points per Vote: #{player.defending ? player.score-10000 : player.score} / #{player.voteCount} = #{player.pointsPerVote}
