heading = me.getProfileHeading(game.startTime);
slug = me.getProfileSlug(game.startTime);

- if(game.startTime.getDay() == 4)
	#chat.pane
		.inner
			.content
				#tlkio(data-channel=game._id.toString(), style="width:700px;height:500px;")
				script(src="http://tlk.io/embed.js", type="text/javascript")
		.handle
			a Chat

#me.pane
	.handle
		a Me
		// a.rotateBack
		//	i.icon-forward.icon-white
	.inner
		.content 
			h1.you YOU
			h2 score: #{me.score}
			div(class='profile '+slug+(slug == 'personality' ? ' '+me.getProfile(game.startTime) : ''))
				- if(slug == 'voting')
					// Do voting
					ul
						each game, i in me.votingRecord
							li.cf
								span.date #{game.startTime.getMonth()} / #{game.startTime.getDate()}
								- if(game.votes.length == 0)
									span.no-votes No Votes!
								- else
									each vote, j in game.votes
										// Find this player's 
										span(class=vote.value) #{vote.value}
					h3 !{me.getProfile(game.startTime)}
				- else if(slug == 'color')
					// Do Color!
					div(class='color '+me.getProfile(game.startTime))
				- else if(slug == 'chat')
					h3 !{me.getProfile(game.startTime)}
				- if(heading)
					h3 #{heading}: 
					h3 !{me.getProfile(game.startTime)}
#my-opponent.pane
	.handle
		a My Opponent
	.inner
		.content
			h1.them THEM
			h2 score: #{opponent.score}
			div(class='profile '+slug+(slug == 'personality' ? ' '+me.getOpponentProfile(game.startTime, opponent) : ''))
				- if(slug == 'voting')
					// Do voting
					ul
						each game, i in opponent.votingRecord
							li.cf
								span.date #{game.startTime.getMonth()} / #{game.startTime.getDate()}
								- if(game.votes.length == 0)
									span.no-votes No Votes!
								- else
									each vote, j in game.votes
										// Find this player's 
										span(class=vote.value) #{vote.value}
					h3 !{me.getOpponentProfile(game.startTime, opponent)}
				- else if(slug == 'color')
					// Do Color!
					div(class='color '+me.getOpponentProfile(game.startTime, opponent))
				- else if(slug == 'chat')
					h3 !{me.getProfile(game.startTime)}
				- if(heading)
					h3 #{heading}: 
					h3 !{me.getOpponentProfile(game.startTime, opponent)}
#leaderboard.pane
	.handle
		a Leaderboard
	.inner(data-src=(process.env.BASEURL || 'http://localhost:5000')+'/players/leaderboard/'+me._id)