heading = me.getProfileHeading(game.startTime);
slug = me.getProfileSlug(game.startTime);

//- if(game.startTime.getDay() == 4)
//	#chat.pane
//		.inner
//			p 
//				| If you're having trouble chatting, try in a different browser like 
//				a(href="http://www.mozilla.org/en-US/firefox/new/") Firefox
//				|  or 
//				a(href="https://www.google.com/intl/en/chrome/browser/") Chrome
//				| .
//			.content
//				#tlkio(data-channel=game._id.toString(), style="width:700px;height:500px;")
//				script(src="http://tlk.io/embed.js", type="text/javascript")
//		.handle
//			a Chat

ul
	li
		a.btn(href="#opponent", role="button", data-toggle="modal") Opponent
	li
		a.btn(href="#scoring", role="button", data-toggle="modal") Scoring
	li
		a.btn(href="#faq", role="button", data-toggle="modal") Help
	li
		a.btn(href="/profile") Settings
	li
		a.btn(href="/confessional") Confess
	- if('undefined' !== typeof currentRound)
		li
			a.btn(href="/game/"+game._id+"/walkaway", data-bootbox-confirm="<p>Are you sure you want to walkaway from this game?</p>") Walkaway

#opponent.fade.modal
	.modal-header
		button.close(type="button", data-dismiss="modal") x
		h3 Today's Opponent:
	.modal-body
		h4 #{game.condition.text}
		h5 Your Opponent: #{their_condition == null || !their_condition.value ? "N/A" : their_condition.value}
		p (You answered: #{my_condition == null || !my_condition.value ? "N/A" : my_condition.value})

#scoring.fade.modal
	.modal-header
		button.close(type="button", data-dismiss="modal") x
		h3 Scoring Reminder:
	.modal-body
		table
			tbody
				tr
					th.empty
					th
						span.friend
					th
						span.enemy
				tr
					th
						span.friend
					td
						span.points 15
						span.comma ,
						span.points 15
					td
						span.points -5
						span.comma ,
						span.points 25
				tr
					th
						span.enemy
					td
						span.points 25
						span.comma ,
						span.points 5
					td
						span.points 5
						span.comma ,
						span.points 5
					
#faq.fade.modal.hide
	.modal-header
		button.close(type="button", data-dismiss="modal") x
		h3 FAQ
	.modal-body
		include faq
					
#leaderboard.pane
	.handle
		a Score / Play-by-Play
	.inner
		.content
			ul.nav.nav-tabs
				li.active
					a(href="#score", data-toggle="tab") Score
				li
					a(href="#play-by-play", data-toggle="tab") Play-by-Play
			.tab-content
				#score.tab-pane.active(data-src=process.env.BASEURL+'/players/leaderboard/points-per-move/all/'+me._id)
				#play-by-play.tab-pane
					include games/results

//#me.pane
//	.handle
//		a Me
//		// a.rotateBack
//		//	i.icon-forward.icon-white
//	.inner
//		.content 
//			h1.you YOU
//			h2 score: #{me.score}
//			div(class='profile '+slug+(slug == 'personality' ? ' '+me.getProfile(game.startTime) : ''))
//				- if(slug == 'voting')
//					// Do voting
//					ul
//						each game, i in me.votingRecord
//							li.cf
//								span.date #{game.startTime.getMonth()+1} / #{game.startTime.getDate()}
//								- if(game.votes.length == 0)
//									span.no-votes No Votes!
//								- else
//									each vote, j in game.votes
//										// Find this player's 
//										span(class=vote.value) #{vote.value}
//					h3 !{me.getProfile(game.startTime)}
//				- else if(slug == 'color')
//					// Do Color!
//					div(class='color '+me.getProfile(game.startTime))
//				- else if(slug == 'chat' || slug == 'no-info')
//					h3 !{me.getProfile(game.startTime)}
//				- if(heading)
//					h3 #{heading}: 
//					h3 !{me.getProfile(game.startTime)}
//#my-opponent.pane
//	.handle
//		a My Opponent
//	.inner
//		.content
//			h1.them THEM
//			h2 score: #{opponent.score}
//			div(class='profile '+slug+(slug == 'personality' ? ' '+me.getOpponentProfile(game.startTime, opponent) : ''))
//				- if(slug == 'voting')
//					// Do voting
//					ul
//						each game, i in opponent.votingRecord
//							li.cf
//								span.date #{game.startTime.getMonth()+1} / #{game.startTime.getDate()}
//								- if(game.votes.length == 0)
//									span.no-votes No Votes!
//								- else
//									each vote, j in game.votes
//										// Find this player's 
//										span(class=vote.value) #{vote.value}
//					h3 !{me.getOpponentProfile(game.startTime, opponent)}
//				- else if(slug == 'color')
//					// Do Color!
//					div(class='color '+me.getOpponentProfile(game.startTime, opponent))
//				- else if(slug == 'chat' || slug == 'no-info')
//					h3 !{me.getOpponentProfile(game.startTime, opponent)}
//				- if(heading)
//					h3 #{heading}: 
//					h3 !{me.getOpponentProfile(game.startTime, opponent)}
// TODO: EVERYAUTH
//#leaderboard.pane(class=(user() ? 'logged-in' : null))
//	.handle
//		a Results
//	.inner(data-src=(process.env.BASEURL || 'http://localhost:5000')+'/players/leaderboard/points-per-move/all/'+me._id)
	
//#play-by-play.modal.fade.hide
//	.modal-header
//		button.close(type="button", data-dismiss="modal") x
//		h3.you PLAY-BY-PLAY
//	.modal-body
//		include games/results